<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>
        {% block title %}
        Profile test
        {% endblock %}

    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Profiler1/maint.css' %}">
    <link rel="stylesheet" href="{% static 'Profiler1/form.css' %}">
    <link rel="stylesheet" href="{% static 'Profiler1/formtest1.css' %}">

</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>


